.order-navigation-right .btn > .material-icons,
.order-navigation-left .btn > .material-icons{
    transform: rotate(180deg);
}

.material-choice-tree-container ul.choice-tree .collapsed > .checkbox::before,
.material-choice-tree-container ul.choice-tree .collapsed > .radio::before {
    transform: rotate(180deg);
}

.mce-window{
    right: auto;
}

.action-type .dropdown-menu.show{
    right: auto;
}

#psy-panel .form-wrapper{
    max-width: 100% !important;
}

div.code-toolbar, div.code-toolbar * {
    direction: ltr !important;
}

/*  prestashop 9 */
.content-div,
#content.bootstrap {
  padding-right: calc(var(--cdk-sidebar-width) + var(--cdk-size-16)) !important;
  padding-left: var(--cdk-size-16) !important;
}
.page-sidebar-closed:not(.mobile) #content {
  padding-right: calc(var(--cdk-sidebar-width-collapse) + var(--cdk-size-16)) !important;
}
.page-sidebar-closed:not(.mobile) .content-div {
  padding-right: calc(var(--cdk-sidebar-width-collapse) + var(--cdk-size-16)) !important;
}

.ps-switch .slide-button::after {
  right: auto;
  left: .125rem;
  left: var(--cdk-size-2);
}




.bootstrap .page-head {
  padding-right:var(--cdk-sidebar-width);
  padding-left: 0;
  transition: padding-left var(--cdk-default-transition-duration);
}
